<div class="task-list-container">
    <ul class="task-list">
        @for (task of taskList; track task) {
        <li style="display: flex; gap: 20px;">
            <div>
                {{ task.title }}
            </div>
            <div>
                @if(task.isCompleted) {
                <span class="task-completed">
                    Is completed
                </span>
                }
                @else {
                <span class="task-not-completed">
                    Not completed
                </span>
                }
            </div>
        </li>
        }


    </ul>

    <form>
        <div style="display: flex; gap: 20px;">
            <input id="name" type="text" formControlName="name">
            <button class="btn-add-task"> Add task</button>
        </div>
    </form>
</div>