.task-list {
    border: 1px solid black;
    border-radius: 3px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-completed {
    color: #57b34d;
    font-size: 13px;
}

.task-not-completed {
    color: #f56767;
    font-size: 13px;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
}
