<div class="task-list-container">
    <ul class="task-list">
        <h1>Task list</h1>
        @if(taskList == null || taskList.length == 0) {
            Task list empty
        }
        @for (task of taskList; track task) {
        <li style="display: flex; gap: 20px; justify-content: space-between;">
            <div>
                {{ task.title }}
            </div>
            <div>
                @if(task.isCompleted) {
                <span class="task-completed">
                    Completed
                </span>
                }
                @else {
                <span class="task-not-completed">
                    Not completed
                </span>

                <button class="btn-complete-task" (click)="completeTask(task.id)" id="btnCompleteTask">Complete</button>
                }
            </div>
        </li>
        }


    </ul>

    <form>
        <div style="display: flex; gap: 20px;">
            <input [(ngModel)]="taskTitle" name="taskTitle">
            <button class="btn btn-add-task" (click)="createTask()" id="btnCreateTask"> Add task</button>
        </div>
    </form>

</div>